// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

// Enabling shadows and gradients
$enable-shadows: true;
$enable-gradients: true;

// Changing the primary color
$primary: #ff5568;

// Changing the body background and text
$body-bg: #add1eb;
$body-color: #151417;


// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
$theme-colors: (
  "cool": #71dbff
);

// Adding (!) an additional spacer value (ex. class p-8)
$spacers: (
 8: 8rem
);

// Changing the border radius of buttons
$border-radius: 0;
